@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --text: #1e293b;
  --bg: #f0f9ff;
  --btn-ctas: #0369a1;
  --bg-section: #e0f2fe;
  --extra: #0ea5e9;

  --font-body: 'DM Sans', sans-serif;
  --font-titles: 'Playfair Display', serif;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  
  h1 {
    font-family: var(--font-titles);
  }
}
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}